<div class="swiper" [style.background-image]="'url(' + fillImageUrl + ')'">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      *ngFor="let img of images"
      [ngStyle]="{'height': maxHeight, 'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}"
    >
      <img
        [src]="img"
        alt="Custom Paintings"
        class="swiper-slide"
      >
      <div class="hover-frame">
        <span class="hover-icon" (click)="onIconClick()"><i class="material-icons">open_in_new</i></span>
        <span class="hover-text">{{ T.expand_image | text }}</span>
      </div>
    </div>
  </div>
</div>
