<div class="swiper" [style.background-image]="'url(' + fillImageUrl + ')'">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      *ngFor="let img of images"
      [ngStyle]="{'height': maxHeight, 'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}"
    >
      <app-image-slide
        [image]="img"
        [category]="category"
        class="swiper-slide"
      ></app-image-slide>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>
