<!--<mat-card-content style="overflow: hidden">-->
  <div class="swiper" style="background: darkcyan">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        *ngFor="let img of getImages()"
        [ngStyle]="{'height': maxHeight, 'width': '500px', 'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}"
      >
        <img [src]="img" alt="Custom Paintings">
      </div>
    </div>
<!--    &lt;!&ndash; If we need pagination &ndash;&gt;-->
<!--    <div class="swiper-pagination"></div>-->

<!--    &lt;!&ndash; If we need navigation buttons &ndash;&gt;-->
<!--    <div class="swiper-button-prev"></div>-->
<!--    <div class="swiper-button-next"></div>-->

<!--    &lt;!&ndash; If we need scrollbar &ndash;&gt;-->
<!--    <div class="swiper-scrollbar"></div>-->
  </div>

<!--</mat-card-content>-->
