<div class="container">
  <div class="label" [ngStyle]="{ 'width': labelWidth() }">
    <span class="text-icon">
      <span>{{ label() }}</span>
      <mat-icon *ngIf="icon() != unassignedIcon">{{ icon() }}</mat-icon>
    </span>
    <span class="colon">:</span>
  </div>
  <div class="value-wrapper">
    <div class="value">
      {{ value() }}
      <button *ngIf="canBeCopied()" mat-icon-button (click)="copyToClipboard()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>
</div>
