.header {
  width: 100%;
  position: fixed; // or 'absolute' depending on your layout needs
  top: 0;
  left: 0;
  z-index: 1000; // High z-index to keep it above other content
  background-color: turquoise; // White background
  height: 200px;
  font-family: "Pacifico", cursive;

  h1 {
    color: black; // White text color
    margin-left: 1rem;
    font-family: inherit;
  }

  .title {
    color: white; // White text color
    margin-left: 3.5rem;
    font-family: inherit;
    font-size: 30px;
  }

  .logo {
    width: 200px;
    height: 100px;
    //margin-top: 1rem;
    margin-left: 1rem;
  }

  .nav-container {
    display: flex; // Align children (anchor tags) in a row
    justify-content: flex-start; // Align children to the start of the container
    align-items: center; // Vertically center the anchor tags in the container
    font-family: inherit;
    font-weight: bold;
  }

  a {
    color: black; // Text color for inactive links
    text-decoration: none; // No underline
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding: 10px 15px; // Padding for better click area
    display: flex; // inline-block Necessary for padding to take effect
    justify-content: center;
    align-items: center;
    border-radius: 20px; // Rounded edges for the oval shape
    transition: background-color 0.3s; // Smooth transition for background color
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.5);

    &:hover {
      background-color: lighten(turquoise, 35%); // Lighter background on hover
      color: darken(turquoise, 10%); // Darker text on hover
    }
  }

  a.active {
    color: deepskyblue; // Primary color text
    background-color: white; // White background
    font-weight: bold; // Make the active link bold

    &:hover {
      background-color: white; // Keep background white even on hover
      color: #039be5;
    }
  }
}

.header.hidden {
  transform: translateY(-100%);  // Slide the header out of view
  transition: transform 0.3s ease-in-out;
}

.header.visible {
  transform: translateY(0);  // Slide the header into view
  transition: transform 0.3s ease-in-out;
}
