:host {
  display: block;
  margin-top: 210px;
}

.contact-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.map-container {
  margin-top: 20px;
}

h2 {
  margin-bottom: 1.5em;
}

.contact-info-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px 10px;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.value {
  word-wrap: break-word;
}
