<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
  <div>
<!--    <mat-form-field appearance="fill" class="full-width">-->
    <mat-form-field [style.width.vw]="50">
      <mat-label>Meno</mat-label>
      <input matInput name="meno" [(ngModel)]="contact.meno" #meno="ngModel" required minlength="3">
      <mat-error *ngIf="meno.errors?.required && meno.touched">
        Pole 'Meno' je povinné.
      </mat-error>
      <mat-error *ngIf="meno.errors?.minlength && meno.touched">
        'Meno' musí mať minimálne 3 znaky.
      </mat-error>
    </mat-form-field>
  </div>

  <div>
<!--    <mat-form-field appearance="fill" class="full-width">-->
    <mat-form-field [style.width.vw]="50">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="contact.email" #email="ngModel" required email>
      <mat-error *ngIf="email.errors?.required && email.touched">
        Pole 'Email' je povinné.
      </mat-error>
      <mat-error *ngIf="email.errors?.email && email.touched">
        Zadajte platný email.
      </mat-error>
    </mat-form-field>
  </div>

<!--  <mat-form-field appearance="fill" class="full-width">-->
  <mat-form-field [style.width.vw]="100">
    <mat-label>Zpráva</mat-label>
    <textarea matInput name="zprava" [(ngModel)]="contact.zprava" #zprava="ngModel" required></textarea>
    <mat-error *ngIf="zprava.errors?.required && zprava.touched">
      Pole 'Zpráva' je povinné.
    </mat-error>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid" class="full-width">Poslat
    </button>
  </div>
</form>
