<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
    <h1> {{ title }}</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/about-me'" class="active"> O me </a>
      <a mat-button [routerLink]="'/services'"> Sluzby </a>
      <a mat-button [routerLink]="'/contact'"> Contacts </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">Portitulok stranky, kratke predstavenie</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/about-me'"> O me </a>
      <a mat-list-item [routerLink]="'/services'"> Sluzby </a>
      <a mat-list-item [routerLink]="'/contact'"> Napis mi </a>
      <a mat-list-item (click)="sidenav.toggle()" href="">Zavriet</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
