:host {
  display: block;
  margin-top: 210px;
}

wrapper {
  margin-top: 300px;
}

img {
  max-height: 350px;
  vertical-align: bottom;
}

.custom-tabs {
  --mat-tab-header-active-label-text-color: black;
  --mat-tab-header-active-focus-label-text-color: black;
  --mat-tab-header-label-text-weight: 700;

  ::ng-deep .mat-mdc-tab {
    background: rgba(255, 255, 255, 0.6);

  }

  ::ng-deep .mat-mdc-tab-header {
    --mat-tab-header-label-text-weight: 700;
  }

  ::ng-deep .mat-mdc-card {
    background: rgba(255, 255, 255, 0.6);
  }
}
