<div class="example-carousel">
  <h2 style="margin-left: 20px">Our Services</h2>
  <mat-tab-group animationDuration="500ms">
    <mat-tab label="Paintings">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Custom Paintings</mat-card-title>
        </mat-card-header>
        <mat-card-content style="overflow: hidden">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div
              mat-card-image
              class="swiper-slide"
              *ngFor="let img of getImages(Category.Paintings)"
              style="display: flex; justify-content: center; align-items: center; height: 500px; width: 500px;"
            >
              <img mat-card-image [src]="img" alt="Custom Paintings">
            </div>
          </div>
        </div>
          <p>Get personalized artwork that speaks to your soul.</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Photography">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Photography Sessions</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://via.placeholder.com/500?text=Photography+Sessions" alt="Photography Sessions">
        <mat-card-content>
          <p>Capture your most memorable moments with our professional photography service.</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Candles">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Handcrafted Candles</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://via.placeholder.com/500?text=Handcrafted+Candles" alt="Handcrafted Candles">
        <mat-card-content>
          <p>Enhance your home with our beautifully scented, handcrafted candles.</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
